@import '../../scss/mixins.scss';

$categories: (
  'news': '#388E3C',
  'sport': '#F50057',
  'lifeandstyle': '#2196F3',
  'culture': '#FFCA28',
);

@each $name, $color in $categories {
  .card--#{$name} {
    border-bottom: 3px solid #{$color};
  }
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  background-color: #0D47A1;
  box-sizing: border-box;
  transition: opacity .12s ease-in-out 0s;
  will-change: opacity;
  &--default {
    align-items: stretch;
    background-color: #09357B;
  }
  &:hover {
    opacity: .95;
  }

  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  &__img-item {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--default {
      width: auto;
      height: auto;
      padding: 10% 20px 0;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }

  &__text {
    width: 100%;
    min-height: 110px;
    padding: 10px 10px 12px;
    box-sizing: border-box;
    background-color: rgba(9, 53, 123, .9);
  }

  &__title {
    color: #fff;
    font: 700 20px/29px Georgia, serif;
    letter-spacing: .07px;
  }

  &[class~='is-6'] &__title {
    @include desktop {
      font-size: 24px;
      line-height: 31px;
    }
  }

  &[class~='is-3'] &__title {
    @include desktop {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: .063px;
    }
  }

  &__subtitle {
    margin-top: 5px;
    color: #fff;
    font: 14px/20px 'Roboto', Arial, sans-serif;
  }

  &__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

@include desktop {
  .is-6 {
    grid-column: span 6;
    grid-row: span 2;
    height: 423px;
  }

  .is-4 {
    grid-column: span 4;
    height: 350px;
  }

  .is-3 {
    grid-column: span 3;
  }
}
